/* jQuery Table Sorter */
table.tblSorter {
background-color:#fff;
margin:10px 0px 0px;
width:100%;
text-align:left;
}
table.tblSorter thead tr th, table.tblSorter th.header {
background-color:#343637;
padding:8px 5px;
color:#fff;
}
table.tblSorter tfoot tr th {}

table.tblSorter thead tr .tablesorter-header {
background-image:url('../images/bg.gif');
background-repeat:no-repeat;
background-position:center right;
cursor:pointer;
padding-right:10px;
}
table.tblSorter thead tr .sorter-false {
background-image:none;
cursor:default;
}
table.tblSorter tbody td {
color:#999999;
padding:5px;
background-color:#fdfdfd;
vertical-align:top;
}

table.tblSorter tbody td a {color:#343637;}
table.tblSorter tbody td small a {color:#999999;}


table.tblSorter tbody tr.inactive td {
background:#eef2f5;
}
table.tblSorter tbody tr.active td {
}
table.tblSorter tbody tr.inactive:hover td {
background-color:#eef2f5;
}
table.tblSorter tbody tr.active:hover td {
background-color:#eef2f5;
}
table.tblSorter thead tr .tablesorter-headerDesc {
background-image:url('../images/desc.gif');
background-repeat:no-repeat;
background-position:center right;
}
table.tblSorter thead tr .tablesorter-headerAsc {
background-image:url('../images/asc.gif');
background-repeat:no-repeat;
background-position:center right;
}
table.tblSorter thead tr .tablesorter-headerAsc, table.tblSorter thead tr .tablesorter-headerDesc {background-color:#343637;}

table.tblSorter tfoot tr {}
#filter_form {background-color:#f1f1f1; color:#444444; padding:10px; font-weight:normal; text-align:left; overflow:hidden;}
#filter_form input[type="text"] {border:1px solid #d7d4d4; margin-bottom:10px; padding:6px;}

#filter_buttons {
float:right;
}


#pagination {
text-align:center;
width:100%;
}

.navigation {background:#fff; border:1px solid #e1e1e1; display:block; padding:8px; font-size:14px; color:#343637; margin-bottom:10px;}

.navigation .nav_total {margin-right:10px;}

.navigation .nav_link a, .navigation .nav_current {
margin:0px 5px;
padding:3px 2px;
text-align:center;
display:inline-block;
color:#8c8d8d;
}
.navigation .nav_current {color:#343637;}

.navigation .nav_first a, .navigation .nav_last a {
padding:2px 2px;
}
.navigation .nav_prev:before, .navigation .nav_next:after {
content:"...";
}
.navigation .nav_link a:hover {
border:1px solid #0f98eb;
background:#fff;
text-decoration:none;
}
input[type="button"], input[type="submit"] {border:none; background:#0f98eb; cursor:pointer; color:#fff; padding:8px; min-width:80px;}




