
h3 span.label {
    display: inline-block;
    width: 100px;
}
ul.toggle_display {
    border-bottom: 0 none;
    display: none;
    list-style-type: none;
    margin-left: 0;
    margin-right: 23px;
    padding: 12px 5px 3px; overflow: hidden;
}
ul.toggle_display li {
    padding: 0;
}
#tabs ul#headers li h2, #stats_lines li {
    display: inline;
    margin: 0;
}
#tabs ul#headers {
    background:#393B3C; margin-top:10px;
    float: left;
    padding: 0;
    width: 100%;
}
#tabs ul li {
   
    float: left;
    margin-right: 2px;
}
#tabs ul > li:first-child {
   
    margin-right: 2px;
}
#tabs ul li a {
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
}
#tabs ul li a h2 {
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
#tabs ul li a:hover {
    background:#000000;
}
#tabs ul li a.selected {
    background:#DDDDDD; border: none;
    color: #000000;
}
.wrap_unfloat {
    overflow: hidden;
}
#stats_lines li a {
    background: none repeat scroll 0 0 #E3F3FF;
    border: 1px solid #C7E7FF;
    border-radius: 10px 10px 0 0;
    padding: 3px 10px;
}
#stats_lines li a:hover {
    background: none repeat scroll 0 0 #C7E7FF;
    text-decoration: none;
}
#stats_lines li a.selected {
    background: none repeat scroll 0 0 #444444;
    border: 1px solid #333333;
    color: #FFFFFF;
}
.tab {
    padding: 10px; background: #DDDDDD;
}

.tab td {padding: 10px;}

li#sites_various {
    padding-left: 22px;
    padding-top: 4px;
}
li.sites_list img, #longurl img {
    display: inline-block;
    height: 16px;
    width: 16px;
}
#referrer_cell {
    min-width: 300px;
}
#details_clicks li.bestday, #details_clicks li span.best_month, #details_clicks li span.best_year {
    font-weight: bold;
}
ul.no_bullet {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}
ul.no_bullet li {
    margin-bottom: 5px;
}
#historical_clicks {
    color: #000000;
    float: left;
    margin: 0;
}
#historical_clicks li {
    margin: 0;
    padding:5px 10px;
}
#historical_clicks li a{ color: #000;}
#historical_clicks li:hover {
    background: none repeat scroll 0 0 #fff !important;
}
#historical_clicks span.historical_link {
    display: inline-block;
    min-width: 130px;
}
#historical_clicks span.historical_count {
    display: inline-block;
    min-width: 100px;
}

#stat_tab_stats {
    background: none repeat scroll 0 0 #DDDDDD;
}
#stats_lines li a {
    background: none repeat scroll 0 0 #666666;
    border: 1px solid #555555 !important;
    color: #FFFFFF;
}

.no_bullet li a {float: none !important; padding: 5px !important; color:#000 !important;}
.no_bullet li a:hover {background:none !important;}
