#shareboxes, #tweet {
	overflow:hidden;
}


p {padding:8px 0; font-size: 14px; line-height:20px; }
h2 {padding: 10px 0;}



div.share {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #ccc;
	background:#FAFAF7;
	margin-left:1em;
	padding:0 1em;
	/*float:left;
	height:140px;*/
	display: table-cell;
}
#origlink{
	
	width:183px;
	overflow:hidden;
	word-wrap:break-word;
	
}
#copybox {
	width:30%; float: left;
}
#sharebox {
	/*width:58%;*/float: left;
}
#tweet_body {
	float:left;
	width:450px !important;
	height:4em;
	font-size:12px;
}
#charcount {
	padding-left:5px;
	color:#88c0eb;
}
#charcount.negative {
	color:red;
}
#share_links a {
	padding:0 12px 0 18px;
	font-weight:bold
}
#share_links a:hover {
	background-position:0 center;
}
#share_tw {background:transparent url(../images/twitter.png) left center no-repeat;}
#share_fb {background:transparent url(../images/facebook.png) left center no-repeat;}
#share_ff {background:transparent url(../images/friendfeed.png) left center no-repeat;}

#copylink{
	cursor:pointer;
	background:transparent url(../images/copy.png) 130% center no-repeat; padding:8px;
}

#copylink:hover, #copylink.hover {
	background-position:100% 50%;
}

