/*lycos css*/
* {padding:0; margin:0; outline: none;}

html {height:100%;}
#wrap{}

a {text-decoration: none;}
body {padding:0; margin:0; font-family: 'Source Sans Pro', sans-serif; font-size:14px; 

}


#shareboxes{padding:10px 0; width:70%; margin:10px auto;}

.successtext span {
background: #aea;
font-weight: normal;

color: #060;
padding:6px 10px;
border-radius: 5px;
}

.warning, .successtext {padding-top:10px;}

.warning span {
background: #fdd;
color: #f00;
padding:6px 10px;
border-radius: 5px;
font-weight: bold;
font-family: 'Source Sans Pro', sans-serif;
font-size:13px;
min-width: 150px;
display: inline-block;
}
.gap {height:80px;}
.contentarea {margin:0;}

.header {background:#343637 url(../images/headerbg.png) repeat-x 0 bottom; padding-bottom:10px; border-top:1px solid #0f1010; height:35px;}

.contentarea:after, .contentarea:before, .header:after, .header:before { display:table; content:"";}
.contentarea:after, .header:after {clear:both}

.header a {color:#d4d7da; text-decoration:none; padding:0 5px; margin:5px; display:inline-block;}

.menu {float:right; color:#fff;}

.ltpannel {background:#fff;}


.rightad{ display: table-cell;width: 28%; padding: 10px;}
.rightad img{ width: 100%; }
.content {vertical-align:middle; display:table-cell; text-align:center; width: 70%}

.module {padding:10px;}


.footer {
background:#343637; 
padding:10px 0; color:#919191; 
position:fixed; bottom:0; 
width:100%; 
text-align:center; 
left:0; 
z-index:200; 
height:20px;
}

.footer a {color:#fff; text-decoration:none; margin:0 5px;}


.text-right { text-align:right;}

input[type="text"] {border:1px solid #cccccc; padding:6px;}
.btn, .button {background:#337291; border:1px solid #1e4456; color:#fff; padding:10px; cursor:pointer;}

@-moz-document url-prefix() { 
 .btn {padding:9px;}

}

.span6 {width:60%;}

.left {float:left;margin-top: 10px;}
.right {float:right;}


.margin10_T {margin-top:10px;}
.margin20_T {margin-top:20px;}

.margin5_L {margin-left: 5px;}
.margin20_L {margin-left:20px;}

.clear {clear:both; display:block; overflow: hidden;}

#login {
    margin: 100px auto 0;
    width: 300px;
}
#login p {
    font-weight: bold;
    margin-bottom: 10px;
}


.error {
    background: none repeat scroll 0 0 #FFEEEE;
    color: #FF0000;
}

#login .text{
    border: 1px solid #CCCCCC;
    padding: 10px; width:92%;}

.login{ background: url("../images/bgTexture.png") repeat scroll 0 0 rgba(0, 0, 0, 0);}

/*drop down menu css*/
.header a {color:#d4d7da; text-decoration:none; padding:2px 5px; margin:8px 5px 0 5px; display:inline-block; line-height:22px;}
.header span a:hover{ background-color: #000; }
.header .h-logo{ padding: 0; margin: 0;}
.dropDown, .moremenu{ display: inline; position: relative;}

.ddMenu{position:absolute; left: 0; list-style-type: none;}
.settingmenu .ddMenu{ left: auto; right: 0px;}
.ddMenu{z-index:9}
.ddMenu li{border-bottom:1px solid #666; border-top:1px solid #292929; float:none; padding:2px 0}
.ddMenu li:last-child{border-bottom:none}
.lyGrey {
    background-color: #393939;
    min-width: 130px;
    box-shadow: 0 0 6px #222222;
}
.ddMenu li {
    border-bottom: 1px solid #666666;
    border-top: 1px solid #292929;
    float: none;
    padding: 2px 0;
}

.ddMenu li a {
    color: #FFFFFF;
    display: block;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px;
}
.ddMenu a:hover, .ddMenu a.selected, .ddMenu a.currentPage, .dropDown:hover {
    background-color: #000000;
    text-decoration: none;
}

.header .dropDown {
    padding-right: 25px;
    line-height:22px;
    margin: 0;
    outline: none; 

}

.sprite {
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
}
.dropDown span {
    background-position: -43px 1px;
    height: 25px;
    position: absolute;
    right: 7px;
    top: 1px;
    width: 10px;
}


.header a.logo {line-height:0; padding:0; margin-top:4px; float: left;}

.strong {font-weight: bold;}

.add {text-align:center; background:#000; height:90px;
 padding:10px 0; width:100%; line-height:0; position:fixed;
  bottom:38px;
  z-index:1;
}
.red{color:#FF0000}

iframe {
  border:0;
  overflow: none;
}

#recaptcha_area, #recaptcha_table {margin:10px auto;}
span#recaptcha_privacy {
    
}

.userside #recaptcha_area, .userside #recaptcha_table {margin:10px 0;}

.center {text-align: center;}

@media (min-width:481px) and (max-width:650px) {

.span6 {width:40%;}

}


@media (max-width:480px) {

.span6 {width:auto; clear:both;}
.footer > span {display:block; margin-top:5px; text-align:center;
}

}

@media (max-width:380px) {

.span6 {display:block; width:80%; margin:10px;}
}

.banner {max-width:100%;}


/* 22-04-2014 */

input[type="password"] {border:1px solid #cccccc; padding:6px;}


.lurl{ padding-top: 20px;}
.settingmenu .dropDown {padding-right: 0;}

/**/
.homecontent {width: 100%; padding-bottom: 120px;}
.homeinner {vertical-align:top;}

.width90 {width: 90%;}
.width75 {width: 75%;}


/* added for safari related issues*/
@media screen and (-webkit-min-device-pixel-ratio:0) {

.strong {
font-weight:bold;
-bracket-:hack[;
font-weight:normal;
];}

strong, th {font-weight:bold; 
-bracket-:hack[;
font-weight:normal;
];}

}

.urlrow {height:45px; position: relative;}




img {border:0; line-height: 0;}

.home {background:url(../images/bg.jpg) repeat-x 0 bottom; background-attachment:fixed;}

.shorten-table {margin:0 auto; width:80%;}
.fullwidth {width:96%;}


.shorten-table .strong {
display: inline-block;
font-weight: bold;
margin-top: 5px;
}

.recaptcha_only_if_privacy {display: none;}

/*added for showing error message*/

.required {border:1px solid #FF0000 !important;}
.width98 {width:98%;}
/*captcha error css*/
div.required {
    border:2px solid #FF0000 !important;
    border-radius:6px;

}