/* jQuery Table Sorter */
table.tblSorter {
background-color:#fff;
margin:10px 0px 0px;
width:100%;
text-align:left;
}
table.tblSorter thead tr th, table.tblSorter th.header {
background-color:#343637;
padding:8px 15px;
color:#fff;
}
table.tblSorter tfoot tr th {}

table.tblSorter thead tr .tablesorter-header {
background-image:url('../images/bg.gif');
background-repeat:no-repeat;
background-position:center right;
cursor:pointer;
padding-right:10px;
}
table.tblSorter thead tr .sorter-false {
background-image:none;
cursor:default;
}
table.tblSorter tbody td {
color:#333;
padding:5px;
background-color:#fdfdfd;
vertical-align:top;
}

table.tblSorter tbody td a {color:#343637;}
table.tblSorter tbody td small a {color:#999999;}


table.tblSorter tbody tr.odd td {
background:#eef2f5;
}
table.tblSorter tbody tr.even td {
}
table.tblSorter tbody tr.odd:hover td {
background-color:#eef2f5;
}
table.tblSorter tbody tr.even:hover td {
background-color:#eef2f5;
}
table.tblSorter thead tr .tablesorter-headerDesc {
background-image:url('../images/desc.gif');
background-repeat:no-repeat;
background-position:center right;
}
table.tblSorter thead tr .tablesorter-headerAsc {
background-image:url('../images/asc.gif');
background-repeat:no-repeat;
background-position:center right;
}
table.tblSorter thead tr .tablesorter-headerAsc, table.tblSorter thead tr .tablesorter-headerDesc {background-color:#343637;}

table.tblSorter tfoot tr {}
#filter_form {background-color:#f1f1f1; color:#444444; padding:10px; font-weight:normal; text-align:left; overflow:hidden;}
#filter_form input[type="text"] {border:1px solid #d7d4d4; margin-bottom:10px; padding:6px;}

#filter_buttons {
float:right;
}


/*
 * Sorting
 */
.sorting { background: url('../images/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

.sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }
 
table.dataTable thead th:active,
table.dataTable thead td:active {
	outline: none;
}



#pagination {
text-align:center; margin-bottom: 10px;
width:100%;
}

.navigation {background:#fff; border:1px solid #e1e1e1; display:block; padding:8px; font-size:14px; color:#343637; margin-bottom:10px;}

.navigation .nav_total {margin-right:10px;}

.navigation .nav_link a, .navigation .nav_current {
margin:0px 5px;
padding:3px 2px;
text-align:center;
display:inline-block;
color:#8c8d8d;
}
.navigation .nav_current {color:#343637;}

.navigation .nav_first a, .navigation .nav_last a {
padding:2px 2px;
}
.navigation .nav_prev:before, .navigation .nav_next:after {
content:"...";
}
.navigation .nav_link a:hover {
border:1px solid #0f98eb;
background:#fff;
text-decoration:none;
}
input[type="button"], input[type="submit"] {border-bottom:1px solid #7096a9; background:#343637; box-shadow:none; cursor:pointer; min-width: 80px;}




/*
 * Table information
 */
.dataTables_info {font-size:14px; color:#343637;
	clear: both;
	float: left; margin: 10px 0; line-height: 20px;
}


/*
 * Pagination
 */
.dataTables_paginate {margin: 10px 0; line-height: 20px; font-size:14px; color:#343637;
	float: right;
	text-align: right;
}

/* Two button pagination - previous / next */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #343637 !important;
}
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #8c8d8d !important;
}
.paginate_disabled_previous,
.paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next,
.paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.paginate_enabled_previous { background: url('../images/back_enabled.png') no-repeat top left; }
.paginate_enabled_previous:hover { background: url('../images/back_enabled_hover.png') no-repeat top left; }
.paginate_disabled_previous { background: url('../images/back_disabled.png') no-repeat top left; }

.paginate_enabled_next { background: url('../images/forward_enabled.png') no-repeat top right; }
.paginate_enabled_next:hover { background: url('../images/forward_enabled_hover.png') no-repeat top right; }
.paginate_disabled_next { background: url('../images/forward_disabled.png') no-repeat top right; }

/* Full number pagination */
.paging_full_numbers {
	height: 22px;
	line-height: 22px;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}

.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}


.dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
	content: "";
    display: table;
    padding-bottom: 20px; width: 100%;
}

.dataTables_length {
	float: left; margin: 5px 0; font-weight: bold;
}

.dataTables_filter {
	float: right;
	text-align: right; margin-bottom: 5px; font-weight: bold;
}





/* 22-04-2014 */
.error_message {color:red; font-size: 13px;}

.signup {padding-bottom:180px;}
.signup form {margin:10px auto; width:65%;}

.signup td {padding:5px 3px; font-size: 14px;}
.add {background-color: #000; padding:10px 0; width:100%; line-height:0; position:fixed; bottom:38px; left: 0; text-align: center;}
input[type="reset"],input[type="button"], input[type="submit"] {border-bottom:1px solid #7096a9; background:#343637; box-shadow:none; cursor:pointer; min-width: 80px; 
	cursor:pointer;
	border:1px solid #1e4456; color:#fff; padding:6px;
}

.span5 form {width:55%;}


@-moz-document url-prefix() { 
input[type="reset"],input[type="button"], input[type="submit"] {padding:5px;}

}


input[type="password"] {border:1px solid #cccccc; padding:6px;}

.title{
background:#61acc5;
font-size:22px;
font-weight:normal;
padding:5px 10px;
color:#fff;
margin-bottom:10px;
}

.login {width: auto !important; margin: 0 !important;}
.thankyou {font-weight: bold; font-size: 15px; padding: 10px;}


/**/

.success {
	background:#aea; 
	padding:5px;
	display:block; 
	margin-bottom:5px; 
	text-align: center;
	color: #060;
}
.errormessage {
	background:#fdd;
	color: #f00;
	padding:5px;
	display:block; 
	margin-bottom:5px; 
	text-align: center;
}
.width50 {width: 50%;}

.center {
    text-align: center;
}

.userside form {width: 50%;}

.tablecell {display:table-cell; position: relative;}
.close-btn {
	background:url(../images/close.png) no-repeat 0 0; 
	width: 26px; height: 26px; display: inline-block; text-indent: -9999em;
	font-size: 0; line-height: 0;
	cursor:pointer; position: absolute; left: 10px;

	
}
